body {
  font-family: "Microsoft JhengHei";
}

g > text {
  fill: #ffffff;
  font-size: large;
  font-weight: bolder;
  font-family: "Microsoft JhengHei";
}

.nation-border,
.state-border,
.county-border {
  fill: none;
  stroke: #ffffff;
}

.county-border {
  stroke-width: 0.087px;
  pointer-events: all;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.nation-border,
.state-border {
  stroke-width: 0.5px;
  pointer-events: none;
}

.background {
  fill: #37474f;
  fill-opacity: 1;
}

.tooltip {
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border: 2px solid #000;*/
  background: #333;
  opacity: 0.9;
  color: white;
  padding: 10px;
  min-width: 375px;
  min-width: 36.75vmin;
  font-size: 2.25vmin;
  line-height: 24pt;
  font-family: "Microsoft JhengHei", serif;
  font-weight: lighter;
  visibility: visible;
}

.tooltip.right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #333;
  right: -8px;
  top: 35px;
  /* arbitrarily set */
}

.tooltip.left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -8px;
  border-right: 8px solid #333;
  top: 35px;
  /* arbitrarily set */
}

/* SVG Scaling */

/*body,*/

/*svg {*/

/*    height: 100%;*/

/*    margin: 0;*/

/*    width: 100%;*/

/*    float: left;*/

/*}*/

.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
}

.scaling-svg {
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
}
