body {
  font-family: "Microsoft JhengHei";
}

text {
  fill: #ffffff;
  font-size: large;
  font-family: "Microsoft JhengHei";
}

.legend {
  font-size: 20px;
  font-family: "Microsoft JhengHei";
}

.country-border {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.487px;
  pointer-events: all;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.background {
  fill: #37474f;
  fill-opacity: 1;
}

.continent {
  fill: none;
  stroke: #000000;
}

.continent :hover {
  fill: #8a8a8a;
}

.tooltip {
  white-space: pre-line;
  top: 100px;
  left: 100px;
  border: 0.87px solid #ffffff;
  border-radius: 8.7px;
  background: #031217;
  opacity: 0.8;
  color: #ffffff;
  padding: 10px;
  font-size: 1.5vmin;
  line-height: 25pt;
  font-family: "Microsoft JhengHei";
  font-weight: lighter;
  visibility: visible;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/*
.tooltip.right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 1;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #333;
  right: -8px;
  top: 45px;
}

.tooltip.left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 1;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -8px;
  border-right: 8px solid #333;
  top: 45px;
}
*/

.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
}

.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
